.salary-table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    color: #fff;
    background: rgba(0, 0, 0, 0.8);
}

.salary-table th, .salary-table td {
    padding: 10px;
    text-align: center;
    border: 1px solid rgba(255, 215, 0, 0.3);
}

.salary-table th {
    background-color: rgba(255, 215, 0, 0.3);
}

.salary-table tbody tr:hover {
    background-color: rgba(255, 215, 0, 0.2);
}
